#searchpropclass{
    background-color:		white;
    color:rgb(77, 4, 4)
  
  }
#searchbuttoninhome{
    background-color: rgb(77, 4, 4);
    color:white;
    font-weight: bold;
    
}
#propertiescontainer{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(77, 4, 4);
  padding: 10px;
  border-radius: 10px;
}
#properties1{
  background-color: rgb(187, 141, 141);
  border: 1px solid rgb(124, 26, 26);
  color:black;
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
#properties2{
  background-color:rgb(153, 67, 67);
  color:white;
  border: 1px solid rgb(24, 6, 6);
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
.footer{
  background-color: rgb(77, 4, 4);
  color:white;

}
.feature-touch{
  color:white;
}
#linktagsinfooter{
  color:white;
}
#copyrightid{
  font-weight:100

}