#searchpropclass{
    background-color:		white;
    color:rgb(77, 4, 4)
  
  }
#searchbuttoninhome{
    background-color: rgb(77, 4, 4);
    color:white;
    font-weight: bold;
    
}
/* #thumbnailbutton{
  background-color: rgb(46, 13, 61);
  color:white;

  
} */
#deletebuttoninimage{
  background-color: rgb(204, 24, 24);
  color:white;
  /* font-weight: bold; */
  
}
#addimagecaption{
  color:rgb(46, 13, 61); 
}
#propertiescontainer{
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(77, 4, 4);
  padding: 10px;
  border-radius: 10px;
}
#properties1{
  background-color:  rgb(85, 63, 63);
  border: 1px solid rgb(54, 7, 7);
  color:white;
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
#properties2{
  background-color:white;
  color:black;
  border: 1px solid rgb(24, 6, 6);
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
.footer{
  background-color: rgb(77, 4, 4);
  color:white;

}
.feature-touch{
  color:white;
}
#linktagsinfooter{
  color:white;
}
#copyrightid{
  font-weight:100

}
#selectboxcolor{
  color: rgb(101, 31, 110);
 
}
#palink{
  color:rgb(77, 4, 4);
  background-color:white;
  font-weight: bold;
  border-radius: 20px; 
}
/* .active .page-link{ background: rgb(77, 4, 4) !important } */

#pagination-link{
  color:rgb(77, 4, 4) ;
  background-color:white;
  font-weight: bold;
} 
.active .page-link{ background: rgb(77, 4, 4) !important }  
.active .page-link{ color:white  !important }  

#borderimage{
  border: 1px solid rgb(77, 4, 4) ; /* Gray border */
  border-radius: 4px;
  height:273.5px;
  width:100%;
  border-radius: 5px; 
  object-fit: contain;
}